html,body {
    padding: 0;
    margin: 0;
    width: 100%;
}

main {
    width: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

section {

    width: 100%;
}

h1,h2,h3,p {
    text-shadow: 5px 5px 5px black ; 
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: #ddd;

    font-size: 500%;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 4vh;
}

h2 {
    font-size: 5vw;
    color: #ddd;
    text-align: center;
    margin-top: 25vh;
    margin-left: 5%;
    font-family: 'Dancing Script', cursive;
    margin-right: 0;
}

h3 {
    color: #ddd;
    font-size: 15vw;
    width: 50%;
    margin-top: 20vh;
    float: right;
}

#sub1 {
    display: inline-block;
    width: 15%;
}

p{
    display: inline;
    font-size: 10vw;
    font-family: 'Dancing Script', cursive;
    color: #ddd;
}

#first {
    background: url(https://kfyakusa.github.io/origami/imagens/wallpaper_first.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#second {
    background: url(https://kfyakusa.github.io/origami/imagens/origami-blue-wallpaper.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#third {
    background: green;
}
